.about>.mainBody{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../../assets/AboutBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 100vh;
    background-color: black !important;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    filter: contrast(1);
    gap: 5rem;
    padding-bottom: 1rem;
    width: fit-content;
    padding-top: 3rem;
}

.about>.mainBody>.innerDiv{
    overflow-y: scroll;
}

.youthopia-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.youthopia-logo img {
    height: 120px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading p {
    font-size: 2rem;
    font-weight: 700;

}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: #fff;
}

.category{
    margin: 5rem;
}

.designations {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px; 
  }

.box .sub-hd {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.box .sub-hd p {
    font-size: 22px;
}

.box .convenors-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 28vh;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 100px;
    margin-top: 2rem;
}

.about-container {
   
    align-items: center;
    justify-content: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    flex-wrap: wrap;
}
