body{
    background-image: url('../../assets/background.webp');
    height:400px ;
}
.eventDet{
    display: flex;
    justify-content:space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}
.youtlg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 5% ;
}
.poster{
    background-color: white;
    height: 250px;
    width: 206px;
    border-radius: 5px;
}
.heading{
    height: fit-content;
}
.partDet{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.register{
    position: relative;
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 138px;
    height: fit-content;
    padding: 10vh;
    width: 80%;
    font-family: Stellar;
    font-size: 32px;
    color: #f8f8f8;
    margin: 40px 0;
}
.register form{
    width: 95%;
}
.register p{
    position: relative;
    left: 5%;
    width: fit-content;
}
.horiLine{
    margin-bottom: 40px;
    width: 85%;
    position: relative;
    left: 5%;
}
.register input{
    border-radius: 10px;
    border-width: 1px;
    margin-left: 5%;
    width: 85%;
}
.register label{
    margin-left: 5%;
    font-size: 24px;
    font-weight: 900;
}
.register .reg{
    background-color: white;
    color: black;
    width: 30%;
    text-align: center;
}
.register .Ind{
    width: 90%;
    margin-left: 5%;
}
.register .Counter{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: 5%;
}
.register .Counter button{
    margin: 5px;
    background-color: white;
    height: 50px;
    width: 50px;
    color: black;
    border-radius: 5px;
    font-size: 30px;
    padding: 0;
}
.register .Counter p{
    margin-top: 10px;
    margin-right: 25px;
    padding-left: 2px;
    margin-left: 0;
    padding-top: 5px;
    background-color: transparent;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 5px;
}

/* @media (min-width:320px) and (max-width:424px) {
    .register{
        border-radius: 10px;
        font-size: 10%;
    }
} */

@media (max-width: 395px) {
    .register {
        padding: 5vh;
    }
    .register form{
        width: 100%;
    }
    .register .reg {
        width: 70%;
        text-align: center;
    }
    .register .Ind{
        width: 100%;
        margin-left: 5%;
    }
    .youthopia-logo {
        margin-top: 20%;
    }
    .eventDet{
        justify-content:space-between;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
    .poster{
        height: 180px;
        width: 160px;
        border-radius: 5px;
    }
    .heading{
        height: fit-content;
        font-size: 40px;
    }
    .Ind .line-4 {
        display: none;
    }
    .Ind .ellipse {
        display: none;
    }
    /* .register .Counter button {
        height: 40px;
        width: 20px;
        margin: 0;
    } */
}
@media (min-width: 425px) and (max-width:524px){
    .register {
        padding: 5vh;
    }
    .register form{
        width: 100%;
    }
    .register .reg {
        width: 70%;
        text-align: center;
    }
    .register .Ind{
        width: 100%;
        margin-left: 5%;
    }
    .youthopia-logo {
        margin-top: 20%;
    }
    .eventDet{
        justify-content:space-between;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
    .poster{
        height: 200px;
        width: 180px;
        border-radius: 5px;
    }
    .heading{
        height: fit-content;
        font-size: 50px;
        /* margin: 0 20px; */
    }
}
@media (min-width: 525px) and (max-width:769px) {
    .register form{
        width: 100%;
    }
    .register .reg {
        width: 60%;
        text-align: center;
    }
    .Register {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .eventDet{
        justify-content:space-between;
        margin-left: 15%;
        margin-right: 15%;
    }
    .poster{
        height: 200px;
        width: 200px;
        border-radius: 5px;
    }
    .heading{
        height: fit-content;
        /* margin: 0 20px; */
    }
}
@media (min-width:769px) and (max-width: 1024px) {
    .register form{
        width: 100%;
    }
    .register .reg {
        width: 40%;
        text-align: center;
    }
}
/* @media (min-width: 1200px) {
    
}
@media (min-width: 1600px) {
    
}
@media (min-width: 1800px) {
    
} */