.Ticket-container{
    min-width:768px;
    max-width:768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    position: relative;
}
.rec{
    width:768px;
    position: absolute;
    top: 0;
    left: 0;
}

.Logos{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
   top: 2rem;
   margin-top: 3rem;
}


.elements{
 display: flex;
 width: 100%;
 align-items: center;
 justify-content: center;
 z-index: 2;
}

.Textyouth {
   
    width: 25rem;
    border: 2px;

}
.image1{
    border-right: 2px solid white;
    padding: 1.5rem 0;
    width:70%;
    display: flex;
    justify-content: center;
}
.Ticket-details{
    color: white;
    padding-left: 30px;
    width: 30%;
}
.Ticket-details p{
    font-size:  1.2rem;
    line-height: 2.5rem;
    text-align: left;
    font-family: Stellar , sans-serif;
}
.head{
    font-weight: 200;
   text-align: center !important;
   padding-bottom: 20px;
   font-size: 2.1rem !important;
    
}
@media screen and (min-width: 1px) {
    .Ticket-details p{
        font-size:  0.5rem;
        line-height: 1.5rem;  
    }

    .head{ 
        padding-bottom: 10px;
       font-size: 1rem !important; 
    }

    .Logos{
        margin-top:0.2rem;
    }

}
