.Ticket-container{
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
}
.rec{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
   
}

.Logos{
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
   top: 3vw;
   margin-top: 3rem;
}
.Ticket{
    font-size: 1.5vw;
    font-family: 'Stellar', sans-serif;
    top:6vh;
    margin-left: 55vw;
    position: absolute;
    z-index: 1;
    color:white;
}

.elements{
 display: flex;
 width: 100%;
 align-items: center;
 justify-content: center;
 z-index: 2;
}

.Textyouth {
   
    width: 50vw;
    border: 2px;

}
.image1{
    border-right: 2px solid white;
    padding: 1.5rem 0;
    width:70%;
    display: flex;
    justify-content: center;
}
.Ticket-details{
    color: white;
    padding-left: 30px;
    width: 30%;
}
.Ticket-details p{
    font-size: 1.5rem;
    line-height: 2.8rem;
    text-align: left;
    /* line-height: 3.5vw; */
    font-family: Stellar , sans-serif;
}
.head{
    font-weight: 200;
   text-align: center !important;
   padding-bottom: 20px;
   font-size: 2.1rem !important;
    
}
