.main-page {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(140%);
    overflow: hidden;
    filter: contrast(1);
}

.logo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.RowTwo {
    display: flex;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
}
.RowTwo img {
    height: 50vh;
}
.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.clg-logo {
    margin: 10px;
}
.inner-container .clg-logo-center {
    margin-right: 50px;
}
.rndm-images .star-1 {
    position: absolute;
    top: 65%;
    right: 5%;
    animation-name: twinkle-1;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
.rndm-images .star-2 {
    position: absolute;
    top: 12%;
    left: 8%;
    animation-name: twinkle-1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.rndm-images .star-3 {
    position: absolute;
    top: 18%;
    right: 20%;
    animation-name: twinkle-2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.rndm-images .star-4 {
    position: absolute;
    top: 33%;
    left: 33%;
    animation-name: twinkle-1;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.rndm-images .lines {
    position: absolute;
    top: 50%;
    left: 0;
}

.RowTwo {
    padding: 0 1rem;
    max-width: 950px;
    position: relative;
}
.elipse {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
}
.elipse>div {
    width: 40%;
    position: relative;
}
.elipse>div>img {
    width: 100%;
    height: auto;
}
.elipse>div>div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-start; */
}
.elipse>div>div>div {
    animation: xAxis 3s infinite ease-in;
    height: 100%;
}
.elipse>div>div>div>div {
    width: 100%;
    height: 100%;
    animation: yAxis 3s infinite ease-out;
}
.elipse>div>div>div>div>img {
    width: 40px;
    height: auto;
    margin-left: auto;
}
.elipse2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
}
.elipse2>div {
    width: 40%;
    position: relative;
}
.elipse2>div>img {
    width: 100%;
    height: auto;
}
.elipse2>div>div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-start; */
}
.elipse2>div>div>div {
    animation: xAxis2 2.8s infinite ease-in;
    height: 100%;
}
.elipse2>div>div>div>div {
    width: 100%;
    height: 100%;
    animation: yAxis2 2.8s infinite ease-out;
}
.elipse2>div>div>div>div>img {
    width: 20px;
    height: auto;
    margin-left: auto;
}
@media (max-height:860px) {
    .main-page{
        height: 100vh;
    }
    
    
}
@media (min-width:320px) and (max-width:424px) {
    .DIT {
        margin-top: 10vh;
        margin-left: 20%;
        width: 60%;
    }
    .main-page {
        height: 95vh   ;
    }
    .clg-logo {
        width: 60px;
    }
    .RowTwo {
        margin-left: 10%;
        width: 70%;
        margin-top: -27vh;
    }
    .Timer{
        margin-top: -25%;
    }
}

@media (min-width: 425px) and (max-width:524px){
    .DIT {
        margin-top: 30vh;
        margin-left: 20%;
        width: 60%;
    }
    .main-page {
        height: 128vh   ;
    }
    .clg-logo {
        width: 60px;
    }
    .RowTwo {
        margin-left: 10%;
        width: 70%;
        margin-top: -27vh;
    }
    .Timer{
        margin-top: -20%;
    }
}
@media (min-width: 525px) and (max-width:767px) {
    .DIT {
        margin-top: 25vh;
        margin-left: 12%;
        width: 80%;
    }
    .main-page {
        height: 145vh   ;
    }
    .clg-logo {
        width: 60px;
    }
    
    .RowTwo {
        margin-left: 10%;
        width: 70%;
    }
    .Timer{
        
    }
}
@media (min-width:768px) and (max-width: 1024px) {
    .DIT {
        margin-top: 32vh;
    }
    .main-page {
        height: 125vh;
    }
    .clg-logo {
        width: 60px;
    }
    .RowTwo {
        margin-left: 13%;
        margin-top: 0;
    }
    /* .Timer{
        display: flex;
        justify-self: center;
        position: relative;
        margin-left: 20%;
        top: 0%;
    } */
    .Timer{
        margin-top: -20%;
    }
    .RowThree{
        margin-top: 100px;
    }
}
@media (min-width: 1024px){
    .Timer{
        position: absolute;
        top: 6rem;
        right: 5rem;
    }
}
@media (min-width: 1200px) {
    .main-page {
        height: 110vh;
    }
    .Timer{
        position: absolute;
        top: 6rem;
        right: 5rem;
    }
}
@media (min-width: 1600px) {
    .main-page {
        height: 100vh
    }
    .Timer{
        position: absolute;
        top: 6rem;
        right: 5rem;
    }
}
@media (min-width: 1800px) {
    .main-page {
        height: 100vh
    }
    .Timer{
        position: absolute;
        top: 6rem;
        right: 5rem;
    }
}
.youthopia {
    width: 100%;

}
@keyframes twinkle-1 {
    50% {
        transform: scale(0.9);
        opacity: 0.2;
    }
}
@keyframes twinkle-2 {
    20% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}
@keyframes xAxis {
    50% {
        animation-timing-function: ease-in;
        transform: translateX(calc(-100% + 40px));
        /* opacity: 0.8; */
        /* scale: 0.8; */
    }
}
@keyframes yAxis {
    50% {
        animation-timing-function: ease-out;
        transform: translateY(calc(100% - 40px));
        /* scale: 0.8; */
    }
}
@keyframes xAxis2 {
    50% {
        animation-timing-function: ease-in;
        transform: translateX(calc(-100% + 20px));
    }
}
@keyframes yAxis2 {
    50% {
        animation-timing-function: ease-out;
        transform: translateY(calc(100% - 20px));
    }
}