.main-page {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(../../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(140%);
    overflow: hidden;
    filter: contrast(1);
}

.logo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center; 
    justify-content: center; 
    margin-top: 30px;
}

.RowTwo {
    display: flex;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.RowTwo img {
    height: 50vh;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.clg-logo {
    margin: 10px;
}

.inner-container .clg-logo-center {
    margin-right: 50px;
}

.rndm-images .star-1 {
    position: absolute;
    top: 65%;
    right: 5%;
}

.rndm-images .star-2 {
    position: absolute;
    top: 12%;
    left: 8%;
}

.rndm-images .star-3 {
    position: absolute;
    top: 18%;
    right: 20%;
}

.rndm-images .lines {
    position: absolute;
    top: 50%;
    left: 0;
}