.main-page {
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    filter: contrast(1);
}

.main-container {
    height: 100vh;
    width: 100vw;
    z-index: 2;
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clg-logo {
    margin: 10px;
}

.left {
    align-self: flex-start;
}

.center {
    align-self: center;
}

.right {
    align-self: flex-end;
}