.homeCarousel {
  height: 80vh;
  width: 100vw;
  background-image: url("../../assets/Rectangle12382.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-top: 5rem;
  padding: 0 4rem;
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.CarouselCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 0.5s smooth;
  object-fit: cover;
}

/*  */

.carousel {
  width: 100vw;
  max-height: 580px;
  overflow: hidden;
  margin: auto;
}

.active.center {
  overflow: hidden;
  /* -webkit-filter: grayscale(0); 
      filter: grayscale(0); */
}

/*  */

.swipe {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: #fff;
  width: 100%;
  margin-bottom: 1rem;
  padding-right: 2rem;
  gap: 0.5rem;
}
