.main-container {
    background: url('../../assets/Rectangle12382.png');
    background-size:cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    height: 100%;
}

.main-container > div {
    color: #fff;
    margin: 30px;
    font-size: 20px;
    font-weight: 700;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 50%;
    height: 100%;
} */

.video-container {
    height: 100%;
    width: 60vw;
    align-items: center;
    justify-content: center;
    background-color: #000;
    display: flex;
}
