.navbar {
  /* background-color: #1a1a1a; */
  background: transparent;
  color: #fff;
  width: 100vw;
  min-height: 5vh;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar.blurred{
  backdrop-filter: blur(10px);
}

.navbar>.navbar__logo>img {
  width: 3rem;
}

.navbar>.navbar-list>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar>.navbar-list>.menu {
  display: none;
}

.navbar>.navbar-list>.cross {
  display: none;
}

.navbar>.navbar-list>ul>li {
  list-style: none;
  margin: 0rem 1rem;
  color: #a3a2a2;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar>.navbar-list>ul>li>a {
  text-decoration: none;
  color: #a3a2a2;
  padding-bottom: 0.3rem;
}

.navbar>.navbar-list>ul>li>.active {
  text-decoration: none;
  pointer-events: none;
  color: red;
}

.navbar>.navbar-list>ul>li>a:hover {
  color: #fff;
}

.navbar>.navbar__logo-open>img {
  width: 15rem;
}

.navbar>.navbar-list-open>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar>.navbar-list-open>i {
  display: none;
}

.navbar>.navbar-list-open>ul>li {
  list-style: none;
  margin: 0rem 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar>.navbar-list-open>ul>li>a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 0.3rem;
}

.navbar>.navbar-list-open>ul>li>.active {
  text-decoration: none;
  pointer-events: none;
  color: red;
}

.navbar>.navbar-list-open>ul>li>a:hover {
  color: #fff;
}

.navButtons{
  display: flex;
  gap: 2rem;
}

.navButtons>.loginButton{
  border: 2px solid #fff;
  padding: 0.1rem 1rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}



@media screen and (max-width: 768px) {

  .navbar>.navbar-list>ul {
      display: none;
      transform: translateX(0);
  }

  .navbar>.navbar-list>.menu {
      display: block;
      font-size: 2rem;
      margin-right: 1rem;
      cursor: pointer;
      transform: translateX(100%);
  }

  .navbar>.navbar-list>.cross {
      display: none;
      transform: translateX(0);
  }

  .navbar>.navbar__logo-open {
      display: none;
  }


  .navbar>.navbar-list-open {
      height: 100vh;
      width: 100vw;
      backdrop-filter: blur(20px);
  }

  .navbar>.navbar-list-open>ul {
      flex-direction: column;
      justify-content: center;
  }

  .navbar>.navbar-list-open>.menu {
      display: none;
  }

  .navbar>.navbar-list-open>.cross {
      display: flex;
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 2rem;
      margin-right: 1rem;
      cursor: pointer;
  }

  .navbar>.navbar-list-open>ul>li {
      margin: 2rem 1rem;
      font-size: 1.5rem;
  }
}