.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 15rem;
    height: fit-content;
    width: 100vw;
    color: white;
    background-image: url("../../assets/bgFooter.svg");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    padding: 1rem;
}

.footer>.footerSocials {
    display: flex;
    gap: 0.3rem;
}

.footer>.footerSocials>.text {
    color: #FFF;
    
    font-size: 1.02038rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer>.footerSocials>.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.footer>.footerSocials>.icons>svg {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}

.footer>.rowTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100vw;
    padding: 0 2rem;
}

.footer>.rowTwo>.address {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 25rem;
}

.footer>.rowTwo>.address>.addressIcon>img {
    height: 1rem;
    width: 1rem;
}

.footer>.rowTwo>.address>.addressText {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer>.rowTwo>.address>.addressText>.mainHeading {
    color: #FFF;
    
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.footer>.rowTwo>.address>.addressText>.subAddress {
    color: #FFF;
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
    margin-left: 1.8rem;
}

.footer>.rowTwo>.contactMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footer>.rowTwo>.contactMobile>svg {
    width: 1rem;
    height: 1rem;
}

.footer>.lastRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 2rem;
    margin-top: 8rem;
}

.footer>.lastRow>.leftLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>.lastRow>.leftLogo>img {
    width: 5.60688rem;
    height: 3.34488rem;
}

.footer>.lastRow>div>.line {
    width: 2rem;
    height: 0.1rem;
    transform: rotate(90deg);
    background-color: rgba(255, 255, 255, 0.50);
}

.footer>.lastRow>.copyrights {
    max-width: 10rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 1.03125rem */
    letter-spacing: 0.06875rem;
}

.footer>.lastRow>.rightLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>.lastRow>.rightLogo>img {
    width: 5.60688rem;
    height: 3.34488rem;
}


@media screen and (max-width: 768px) and (min-width: 526px) {
    .footer {
        background-size: 80%;
    }
    .footer>.footerSocials {
        gap: 0.5rem;
    }
    .footer>.footerSocials>.text {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: normal;
    }
    .footer>.footerSocials>.icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
    }
    .footer>.footerSocials>.icons>svg {
        cursor: pointer;
        height: 1.5rem;
        width: 1.3rem;
    }
    .footer>.rowTwo>.address>.addressText>.mainHeading {
        font-size: 1.3rem;
    }
    .footer>.rowTwo>.address>.addressText>.subAddress {
        font-size: 0.97rem;
    }
    .footer>.lastRow>.leftLogo>img {
        width: 4.60688rem;
        height: 3.34488rem;
    }
    .footer>.lastRow>.rightLogo>img {
        width: 4.60688rem;
        height: 3.34488rem;
    }
}

@media screen and (max-width: 525px) and (min-width: 396px) {
    .footer {
        background-size: 80%;
    }
    .footer>.footerSocials {
        gap: 0.5rem;
    }
    .footer>.footerSocials>.text {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: normal;
    }
    .footer>.footerSocials>.icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
    }
    .footer>.footerSocials>.icons>svg {
        cursor: pointer;
        height: 1.5rem;
        width: 1.3rem;
    }
    .footer>.rowTwo>.address>.addressText>.mainHeading {
        font-size: 1.1rem;
    }
    .footer>.rowTwo>.address>.addressText>.subAddress {
        font-size: 0.8rem;
    }
    .footer>.rowTwo {
        margin-top: 1rem;
        width: 100vw;
        padding: 0 1rem;
    }
    .footer>.lastRow>.leftLogo>img {
        width: 3.60688rem;
        height: 2.34488rem;
    }
    .footer>.lastRow>.rightLogo>img {
        width: 3.60688rem;
        height: 2.34488rem;
    }
    .footer>.lastRow>.copyrights {
        font-size: 0.5875rem;
    }
}

@media screen and (max-width: 395px) {
    .footer {
        background-size: 90%;
    }
    .footer>.footerSocials {
        gap: 0.5rem;
    }
    .footer>.footerSocials>.text {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: normal;
    }
    .footer>.footerSocials>.icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
    }
    .footer>.footerSocials>.icons>svg {
        cursor: pointer;
        height: 1.5rem;
        width: 1.3rem;
    }
    .footer>.rowTwo>.address>.addressText>.mainHeading {
        font-size: 1rem;
    }
    .footer>.rowTwo>.address>.addressText>.subAddress {
        font-size: 0.7rem;
    }
    .footer>.rowTwo>.contactMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    
    .footer>.rowTwo>.contactMobile>svg {
        width: 0.8rem;
        height: 1rem;
    }
    .footer>.rowTwo>.contactMobile>.number>a {
        margin-right: 0;
        font-size: 15px;
    }
    .footer>.rowTwo {
        margin-top: 1rem;
        width: 100vw;
        padding: 0 1rem;
    }
    .footer>.lastRow>.leftLogo>img {
        width: 2.70688rem;
        height: 1.54488rem;
    }
    .footer>.lastRow>.rightLogo>img {
        width: 2.70688rem;
        height: 1.54488rem;
    }
    .footer>.lastRow>.copyrights {
        font-size: 0.4875rem;
    }
}