.dev-container{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../../assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    min-height: 100vh;
    background-color: black !important;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: contrast(1);
    gap: 5rem;
    padding-bottom: 1rem;
    /* width: fit-content; */
    padding-top: 0rem;
    color: white;
    
}

.dev-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dev-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.developersSec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    gap: 5rem;
    padding: 0 1rem;
}

.designHeading{
    margin-top: 5rem;
}

.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.member:hover{
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.member>img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}