
@font-face {
    font-family: "Stellar";
    src: local("Stellar"),
     url("./fonts/Stellar-FreeForPersonalUse/Stellar-Medium.otf") format("truetype");
    font-weight: bold;
   }
@font-face {
    font-family: "Stellar-Light";
    src: url("./fonts/Stellar-FreeForPersonalUse/Stellar-light.otf");
}
