.mainEventBody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../../assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 100vh;
    background-color: black !important;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    filter: contrast(1);
    gap: 5rem;
    width: fit-content;
    padding-top: 3rem;
}

.loaderDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

.events {
    overflow-y: scroll;
}

.youthopiaImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.secNavBar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
    justify-content: space-around;
    align-items: center;
    margin: 0 !important;
    width: 100%;
    margin-bottom: 2rem !important;
}

.a {
    border: none;
    position: relative;
    color: #f8f8f8;
    cursor: pointer;
    font-size: 2rem;
}

.a:hover {
    border: none !important;
}

.a:hover {
    border-bottom: 5px solid #E8257D;
}

.a::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: #E8257D;
    transition: all ease-in-out .2s;
}

.a:hover::after {
    width: 100%;
    left: 0;
}

.card-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 5rem;
}
