.main-sponsor {
    height: 42vh;
    width: 100vw;
    position: relative;
    background: url('../../assets/Rectangle12382.png');
    background-size:cover;
    background-color: #000;
    background-position: center;

    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(30,25,191,1) 33%, rgba(186,24,88,1) 60%); */
    background-repeat: no-repeat;
    overflow: hidden;
    /* text-align: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
}

/* .main-container {
    height: 42vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 20px;
    color: #fff;
}

.arrow {
    margin: 10px 0 0 0;
    align-items: center;
    justify-content: center;
}

.sponsor-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.sponsor-logo {
    width: 8rem;
    aspect-ratio: 1/1;
} */
